# IDE Tooling, Git
.github/**
.history/**
.vscode/**
.vscode-test/**
.gitignore
**/.gitignore

# Support Files
.markdownlintrc
tsconfig.json
build.sh
build.ps1
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/tsconfig.json
**/.eslintignore
**/.eslintrc.js

# Generated Folders
out/test/**
out/**/*.map
build/**

# Managed Packages
node_modules/**

# Testing Folders
test/**
test-harness/**
